<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Retail Theft Detection</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

<div class="page">

    <!-- HEADER -->

    <header class="header">

        <div class="brand">

            <div class="brand-icon">
       
            </div>

            <div>

                <h1>Retail Theft Detection</h1>


            </div>

        </div>


    </header>


    <!-- MAIN -->

    <main class="main">

        <section class="hero">


        </section>


        <!-- UPLOAD CARD -->

        <section class="upload-card">

            <h3>
                Upload Surveillance Video
            </h3>

            <p>
                Supported formats: MP4, AVI, MOV, MKV
            </p>

            <form action="{{ url_for('upload') }}"
                  method="POST"
                  enctype="multipart/form-data">

                <label class="file-button">

                    Choose Video

                    <input type="file"
                           name="video"
                           accept=".mp4,.avi,.mov,.mkv"
                           required>

                </label>

                <button type="submit"
                        class="analyze-button">

                    Analyze Video

                </button>

            </form>

        </section>


        

    </main>



</div>

</body>

</html>